<table class="karta {{UIC0}}">
    <tr><td colspan="3">DESIGNATION / OZNAČENÍ</td></tr>
    <tr><td>UIC</td><td>ČSD</td><td>Operator</td></tr>
    <tr><td>{{uic}}</td><td>{{csd}}</td><td>{{operator}}</td></tr>
    <tr><td colspan="3">CAR DESCRIPTION / POPIS VOZU</td></tr>
    <tr><td colspan="3">{{description}}</td></tr>
    <tr><td colspan="3">LOAD TYPE / DRUH NÁKLADU</td></tr>
    <tr><td colspan="3">{{loadtype}}</td></tr>
    <tr><td colspan="3">PICTURE / OBRÁZEK</td></tr>
    <tr><td colspan="3"><img src="{{fotourl}}" alt="Fotografie vozu"></td></tr>
    <tr><td colspan="3">{{number}}</td></tr>
    <tr><td colspan="3">Owner: {{owner}}</td></tr>
</table>
