<!DOCTYPE html>
<html lang=cs-CZ>
    <head>
        <title>Zjednodušené vozové karty</title>
        <link rel=stylesheet title=Default href='main.css' type='text/css' media=all>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Jan Horáček">
        <meta name="description" content="Zjednodušené vozové karty pro potřeby KMŽ Brno I, v 22.8.2020">
    </head>
    <body>

    <div>
    {{cards}}
    </div>
    <hr>
    <p>Zjednodušené vozové karty – © Jan Horáček</p>
</body>
</html>
